<div class="row-fluid">
  <h1 class="page-header">
    Register
  </h1>
  <form role="form">
    <div class="form-group">
      <label for="RegisterInputName">Name</label>
      <input type="text" class="form-control" id="RegisterInputName" ng-model="user.name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="RegisterInputEmail">Email address</label>
        <input type="email" class="form-control" id="RegisterInputEmail" ng-model="user.email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="RegisterInputPassword">Password</label>
        <input type="password" class="form-control" id="RegisterInputPassword" ng-model="user.password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="RegisterInputConfirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="RegisterInputConfirmPassword" ng-model="user.confirmPassword" placeholder="Confirm Password">
    </div>
    <button ng-click="register()" class="btn btn-primary">Register</button>
  </form>
</div>
