<div class="row-fluid">
  <h1 class="page-header">
    User
  </h1>
  <p>
    <code>ng-boilerplate</code> is an opinionated kickstarter for web
    development projects. It's an attempt to create a simple starter for new
    web sites and apps: just download it and start coding. The goal is to
    have everything you need to get started out of the box; of course it has
    slick styles and icons, but it also has a best practice directory structure
    to ensure maximum code reuse. And it's all tied together with a robust
    build system chock-full of some time-saving goodness.
  </p>

</div>

