<!DOCTYPE html>
<html ng-app="ServiceDashboard" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">DataHub Services Dashboard</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/responseTime">Response Times</a></li>
          <li><a href="#/responseStatus">Response Status</a></li>
          <li><a href="#/user">User</a></li>
        </ul>
        <form class="navbar-form navbar-right" ng-controller="UserCtrl">
          <div ng-show="isAuthenticated" class="form-group">
              Hello there {{username}}!
              <button class="btn btn-default" ng-click="logout()">Logout</button>
          </div>
          <div class="form-group" ng-hide="isAuthenticated">
            <input type="text" ng-model="username" placeholder="Username" class="form-control" />
          </div>
          <div class="form-group" ng-hide="isAuthenticated">
              <input type="password" ng-model="password" placeholder="Password" class="form-control" />
          </div>
          <button class="btn btn-primary" ng-click="authenticate()" ng-hide="isAuthenticated">Login</button>
          <a href="#/register">Register</a>
        </form>
      </div>
    </nav>
    </header>

    <div class="container" ui-view="main"></div>
    
  </body>
</html>
