<div class="jumbotron">
  <h1>Non-Trivial AngularJS Made Easy</h1>

  <p class="lead">
    Everything you need to kickstart AngularJS projects: a best-practice
    directory structure, an intelligent build system, and the best web design
    libraries around.
  </p>

</div>

